<div class="card">
  <div class="card-image">
    <figure class="image is-4by4">
      <img [src]="safeUrl" alt="image{{ photo.id }}">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      <div *ngIf="user">
        <button class="button is-warning is-outlined" type="button" (click)="addPhoto(photo)" *ngIf="!hasImage && tab == 11">Undo</button>
        <button class="button is-primary is-outlined" type="button" (click)="addPhoto(photo)" *ngIf="!hasImage && tab == 0">Add
          to my images</button>
        <button class="button is-danger is-outlined" type="button" (click)="removeImage(photo)" *ngIf="hasImage">Remove
          from my images</button>
        <br>
      </div>
      <ul>
        <li>Date: {{ photo.date }}</li>
        <li>Camera: {{ photo.cameraFullName }} ({{ photo.cameraName }})</li>
      </ul>
    </div>
  </div>
</div>