<aside class="menu"> 
  <p class="menu-label">USER</p>
  <ul class="menu-list">
    <li *ngIf="!user"><a routerLink="/login" routerLinkActive="active" (click)="closeNav()">Login</a></li>
    <li *ngIf="user"><a (click)="authService.logout();closeNav()">Logout</a></li>
  </ul>
</aside>

<aside class="menu">
  <p class="menu-label">
    API
  </p>
  <ul class="menu-list">
    <li><a routerLink="/apod" routerLinkActive="active" (click)="closeNav()">Astronomy picture of the day</a></li>
    <li>
      <a>Asteroids</a>
      <ul>
        <li><a [routerLink]="['/neo', 0]" routerLinkActive="active" (click)="closeNav()">Browse</a></li>
        <li><a [routerLink]="['/neo', 1]" routerLinkActive="active" (click)="closeNav()">Feed</a></li>
        <li *ngIf="user"><a [routerLink]="['/neo', 11]" routerLinkActive="active" (click)="closeNav()">My asteroids</a></li>
      </ul>
    </li>
    <li>
      <a>Earth surface imagery</a>
      <ul>
        <li><a [routerLink]="['/landsat', 0]" routerLinkActive="active" (click)="closeNav()">Feed</a></li>
        <li *ngIf="user"><a [routerLink]="['/landsat', 11]" routerLinkActive="active" (click)="closeNav()">My images</a></li>
      </ul>
    </li>
    <li>
      <a>Mars rovers</a>
      <ul>
        <li><a routerLink="/rovers" routerLinkActive="active" (click)="closeNav()">Manifests</a></li>
      </ul>
    </li>
  </ul>
</aside>