<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a routerLink="/apod" routerLinkActive="active" (click)="closeNav()">Astronomy picture of the day</a></li>
    <li>
      <a>Asteroids</a>
      <ul>
        <li><a routerLink="/neo" routerLinkActive="active" (click)="closeNav()">Browse</a></li>
      </ul>
    </li>
    <li>
        <a routerLink="/info" routerLinkActive="active" class="navbar-item" (click)="closeNav()"><i class="material-icons">info</i> Info</a>
    </li>
  </ul>
</aside>