<nav class="row no-margin">
  <div class="nav-wrapper blue darken-3">
    <div class="col s12">
      <h5>Components</h5>
    </div>
  </div>
</nav>

<div class="row no-margin grey lighten-4">
  <ul class="collapsible no-margin volledigeHoogte">
    <li>
      <a class="collapsible-header block grey lighten-4 navigatieLI" routerLink="/apod" routerLinkActive="active">ASTRONOMY PICTURE OF THE DAY</a>
    </li>
    <li>
      <div class="collapsible-header block grey lighten-4 navigatieLI">SECOND <i class="material-icons right">arrow_drop_down</i></div>
      <div class="collapsible-body grey lighten-4"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header block grey lighten-4 navigatieLI">THIRD <i class="material-icons right">arrow_drop_down</i></div>
      <div class="collapsible-body grey lighten-4"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
</div>