<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ asteroid.name }}</p>
      </div>
    </div>

    <div class="content">
      <ul>
        <li class="list-no-style">Last observation: {{ asteroid.orbital_data.last_observation_date }}</li>
      </ul>
      <p><button class="button is-info is-outlined" type="button" (click)="lookupAsteroid()">More info</button></p>
      <h5 *ngIf="asteroid.is_potentially_hazardous_asteroid == true" class="text-red"><i class="material-icons">report_problem</i>
        Potentially hazardous!</h5>
    </div>
  </div>
</div>