<h3>Author</h3>
<h4>Created by: <a href="www.wimnaudts.sinners.be" target="_blank">Wim Naudts</a></h4>

<p><img src="../../assets/images/author.png" alt="author" class="circle materialboxed" height="200px"></p>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Contact</span>
        <ul class="card-action">
          <li><b>Phone:</b><a href="tel:+32472285696"> +32 472 28 56 96</a></li>
          <li><b>Mail:</b><a href="mailto:wimnaudts@yahoo.com"> wimnaudts@yahoo.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>