<!-- Titel -->
<section class="hero is-info">
  <div class="hero-body">
    <h1 class="title">Author</h1>
  </div>
</section>

<!-- Content -->
<section class="hero is-light">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-1by1">
              <img src="../../assets/images/author.png" alt="author">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="../../assets/images/author.png" alt="author" class="is-rounded">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4"><a href="http://wimnaudts.sinners.be/" target="_blank">Wim Naudts</a></p>
                <p class="subtitle is-6"><a href="https://twitter.com/wimnaudts" target="_blank">@wimnaudts</a></p>
              </div>
            </div>

            <div class="content">
              <ul class="list-no-style">
                <li><b>Phone:</b><a href="tel:+32472285696"> +32 472 28 56 96</a></li>
                <li><b>Mail:</b><a href="mailto:wimnaudts@yahoo.com"> wimnaudts@yahoo.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>