<!-- Mobiele navigatie -->
<ul class="sidenav noOverflow" id="mobile-demo">
  <app-navbar></app-navbar>
</ul>

<!-- Pagina layout -->
<div class="row no-margin">
  <!-- Panel navigatie -->
  <div class="col l2 hide-on-med-and-down navbarPosition" id="navbar">
    <app-navbar></app-navbar>
  </div>

  <!-- Inoud -->
  <div class="col s12 m12 l10" id="inhoud">
    <!-- inhoud header -->
    <nav class="row no-margin">
      <div class="nav-wrapper blue darken-4">
        <div class="col s12">
          <a href="#!" class="brand-logo">NASAWatch</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger hide-on-large-only"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right">
            <li><a routerLink="/info" routerLinkActive="active"><i class="material-icons">info</i></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <div class="container">
      <router-outlet></router-outlet>

      <!-- banner om app te installeren -->
      <div class="row" *ngIf="showBanner">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Install</span>
              <p>Do you want to download and install the site and add it to your homescreen?.</p>
            </div>
            <div class="card-action">
                <button type="button" (click)="addToHomescreen()" class="modal-close waves-effect waves-green btn-flat">Agree</button>
                <button type="button" (click="showBanner = !showBanner">Disagree</button>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>