<!-- Mobiele navigatie -->
<div id="mySidenav" class="sidenav">
  <div class="hero-body">
    <app-navbar></app-navbar>
  </div>
</div>

<!-- Pagina layout -->
<!-- Banner -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#!">
        NASAWatch
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="openNav()" id="burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a routerLink="/info" routerLinkActive="active" class="navbar-item"><i class="material-icons">info</i></a>
      </div>
    </div>
  </div>
</nav>

<!-- Inhoud -->
<main class="container" id="main">
  <div class="columns">
    <div class="column is-3 is-hidden-touch">
      <app-navbar></app-navbar>
    </div>
    <div class="column">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>