<!-- Mobiele navigatie -->
<div id="mySidenav" class="sidenav">
  <div class="hero-body">
    <app-navbar></app-navbar>
  </div>
</div>

<!-- Pagina layout -->
<!-- Banner -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#!">
        NASAWatch
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="openNav()" id="burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a routerLink="/info" routerLinkActive="active" class="navbar-item"><i class="material-icons">info</i></a>
      </div>
    </div>
  </div>
</nav>

<!-- Inhoud -->
<main class="container" id="main">
  <div class="columns">
    <div class="column is-3 is-hidden-touch">
      <app-navbar></app-navbar>
    </div>
    <div class="column">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <div class="hero-body" *ngIf="showBanner">
      <div class="card">
        <div class="card-content">
          <p class="subtitle">
            Do you want to add the app to your homescreen?
          </p>
          <p>
            <button class="button is-info is-outlined" type="button" (click)="addToHomescreen()">AGREE</button>
            &nbsp;
            <button class="button is-info is-outlined" type="button" (click)="showBanner = !showBanner">DISAGREE</button>
          </p>
        </div>
      </div>
    </div>
    <div class="content has-text-centered">
      <div>
        <strong>NASAWatch</strong> by <a href="http://wimnaudts.sinners.be/">Wim Naudts</a>
        <p><img src="../assets/images/authorLogo.svg" alt="logo" style="max-height: 75px;" /></p>
      </div>
    </div>
  </div>
</footer>