<section class="hero is-info">
    <div class="hero-body">
        <h1 class="title">Astronomy picture of the day</h1>
    </div>
</section>

<section class="hero is-light">
    <div class="hero-body">
        <div class="progress center" *ngIf="loading">
            <div class="indeterminate"></div>
        </div>

        <div [hidden]="loading">
            <div class="column is-half">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img [src]="(pictureOfTheDay$ | async)?.hdurl" alt="picOfTheDay" width="50%">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Description</p>
                            </div>
                        </div>

                        <div class="content">
                            {{ (pictureOfTheDay$ | async)?.explanation }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>