<!-- Titel -->
<section class="hero is-info">
    <div class="hero-body">
        <h1 class="title">Astronomy picture of the day</h1>
    </div>
</section>

<!-- Content -->
<section class="hero is-light">
    <div class="hero-body">
        <!-- Loader laten zien terwijl we een api request doen -->
        <div *ngIf="loading">
            <div class="loader"></div>
        </div>

        <!-- De content als we de data van de api ontvangen hebben -->
        <div [hidden]="loading">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <div [ngSwitch]="media_type">
                        <div *ngSwitchCase="'image'">
                            <figure class="image">
                                <a (click)="toggleImageModal()"><img [src]="(pictureOfTheDay$ | async)?.url" alt="picOfTheDay"></a>
                            </figure>
                        </div>
                        <div *ngSwitchCase="'video'">
                            <div class="video-container">
                                <iframe width="640" height="360" [src]="safeUrl" allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                    <p class="title">Description</p>
                    <p>{{ (pictureOfTheDay$ | async)?.explanation }}</p><br>
                    <p>Credit: {{ (pictureOfTheDay$ | async)?.copyright }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Image modal -->
<div id="apodModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content modalCustom">
        <p class="image is-4by3">
            <img [src]="(pictureOfTheDay$ | async)?.url" alt="picOfTheDayModal">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="toggleImageModal()"></button>
</div>