<div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">Date: {{ approachDate.close_approach_date  }}</p>
        </div>
      </div>
  
      <div class="content">
        <ul>
          <li class="list-no-style">Orbiting body: {{ approachDate.orbiting_body }}</li>
          <li class="list-no-style">Relative velocity: {{ approachDate.relative_velocity.kilometers_per_hour }} km/h</li>
          <li class="list-no-style">Miss distance: {{ approachDate.miss_distance.kilometers }} km</li>
        </ul>
      </div>
    </div>
  </div>