/* You can add global styles to this file, and also import other style files */
body{
	overflow-x: hidden;
}

.no-margin{
	margin: 0px;
}

nav{
	width: auto;
}

.block{
	display: block;
}

.noOverflow{
	overflow: hidden;
}

/*Navigatie die blijft staan*/
.navbarPosition{
	position: fixed;
}

/*navigatie over de volledigel lengte van de browser*/
.volledigeHoogte{
	height: 100vh;
}

.navigatieLI{
	color: black;
	font-size: 14px !important;
    font-weight: 400 !important;
}

.navigatieLI:hover{
	background-color: #64b5f6 !important;
}

/*Om laders in het midden van de pagina te laten zien*/
.center{
	margin-top: 25%;
}