<!-- Titel -->
<section class="hero is-info">
  <div class="hero-body">
    <h1 class="title">Near earth Asteroids</h1>
  </div>
</section>

<!-- Content -->
<section class="hero is-light">
  <div class="hero-body">
    <!-- Loader laten zien terwijl we een api request doen -->
    <div *ngIf="loading">
      <div class="loader"></div>
    </div>

    <!-- De content als we de data van de api ontvangen hebben -->
    <div [hidden]="loading">
      <!-- Switch om te zien welke tab we willen laten zien-->
      <div [ngSwitch]="currentTab">

        <!-- TAB 1: Browse tab -->
        <div *ngSwitchCase="0">
          <div class="columns">
            <!-- Info -->
            <div class="column">
              <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                  <p>Browse the overall asteroid data-set.</p>
                </article>
              </div>
            </div>
            <!-- Invoer -->
            <div class="column">
              <form #selectPageSize="ngForm" (ngSubmit)="onSubmitPageSize(selectPageSize.value)">
                <div class="content">
                  <p>
                    <label class="label">Items per page (max. 20)</label>
                    <input class="input is-success" min="1" max="20" type="number" name="pageSize" placeholder="{{ neoPageSize }}"
                      ngModel>
                  </p>
                  <p><button class="button is-primary" type="submit">Submit</button></p>
                </div>
              </form>
            </div>
          </div>
          <div class="columns is-multiline">
            <!-- Child component voor elk object -->
            <div class="column is-one-third" *ngFor="let asteroid of (getData$ | async)?.near_earth_objects">
              <app-neo-item [asteroid]="asteroid" [tab]="currentTab"></app-neo-item>
            </div>
          </div>

          <!-- Pagination -->
          <nav class="pagination" role="navigation" aria-label="pagination">
            <a class="pagination-previous" (click)="previousPage()">Previous</a>
            <a class="pagination-next" (click)="nextPage()">Next page</a>
            <ul class="pagination-list">
              <li *ngFor="let page of counter(numberOfPages); let i = index">
                <a *ngIf="i < 5" [ngClass]="{'is-current has-text-white': currentPage == i+1}" class="pagination-link"
                  (click)="choosePage(i+1)">{{ i+1 }}</a>
                <div *ngIf="currentPage == i+1 && currentPage < 6">°</div>
              </li>

              <ng-container *ngIf="currentPage > 4 && currentPage < 8">
                <li *ngFor="let page of counter(3); let i = index">
                  <a [ngClass]="{'is-current has-text-white': currentPage == 6+i}" class="pagination-link" (click)="choosePage(6+i)">{{
                    6+i }}</a>
                  <div *ngIf="currentPage == 6+i">°</div>
                </li>
              </ng-container>

              <ng-container *ngIf="currentPage > 7">
                <li>
                  <span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li>
                  <a class="pagination-link" (click)="choosePage(currentPage-1)">{{
                    currentPage-1 }}</a>
                </li>
                <li>
                  <a class="pagination-link is-current has-text-white" aria-label="Goto page 1">{{ currentPage }}</a>
                  <div>°</div>
                </li>
                <li *ngIf="currentPage != (numberOfPages-1)">
                  <a class="pagination-link" (click)="choosePage(currentPage+1)">{{
                    currentPage+1 }}</a>
                </li>
              </ng-container>

              <ng-container *ngIf="currentPage < (numberOfPages-3)">
                <li>
                  <span class="pagination-ellipsis">&hellip;</span>
                </li>

                <li>
                  <a [ngClass]="{'is-current has-text-white': currentPage == counter(numberOfPages).length-1}" class="pagination-link"
                    (click)="choosePage(numberOfPages - 1)">{{ counter(numberOfPages).length-1 }}</a>
                  <div *ngIf="currentPage == counter(numberOfPages).length-1">°</div>
                </li>
              </ng-container>
            </ul>
          </nav>
        </div>

        <!-- TAB 2: Feed tab -->
        <div *ngSwitchCase="1">
          <!-- Info -->
          <div class="columns">
            <div class="column">
              <p>Retrieve a list of Asteroids based on their closest approach date to Earth. Choose a start date and
                get a list of a 7 day period.</p>
            </div>
            <div class="column">
              <!-- Formulier om datum te kiezen -->
              <form #selectDate="ngForm" (ngSubmit)="onSubmitDatum(selectDate.value)">
                <div class="tile is-parent">
                  <article class="tile is-child notification is-info">
                    <p class="subtitle">
                      <label class="label has-text-white">Date</label>
                      <input class="input is-success" type="date" name="datum" ngModel>
                    </p>
                    <p class="subtitle"><button class="button is-light" type="submit">Submit</button></p>
                  </article>
                </div>
              </form>
            </div>
          </div>
          <!-- Itereren over verschillende datums -->
          <div *ngFor="let datum of dataArray; index as i">
            <div class="columns">
              <div class="column">
                <!-- Elke datum als titel weergeven -->
                <h3 class="subtitle is-3">{{ dataProps[i] }}</h3>
              </div>
            </div>
            <div class="columns is-multiline">
              <!-- Voor elke datum voor alle objecten de child component laten zien -->
              <div class="column is-one-third" *ngFor="let asteroid of datum">
                <app-neo-item [asteroid]="asteroid" [tab]="currentTab"></app-neo-item>
              </div>
            </div>
          </div>
        </div>

        <!-- TAB 3: My asteroids tab -->
        <div *ngSwitchCase="11">
          <!-- Info -->
          <div class="columns">
            <div class="column">
              <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                  <p>A list of asteroids you saved.</p>
                </article>
              </div>
            </div>
          </div>
          <!-- Asteroids itereren -->
          <div class="columns is-multiline">
            <div class="column is-one-third" *ngFor="let asteroid of dataUserArray">
              <app-neo-item [asteroid]="asteroid" [tab]="currentTab"></app-neo-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>